.columns {
    display: flex;
}
.columns div {
    background-color: blue;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: inline-block;
}
.col4 {
    flex-grow: ;
    align-self: center;
}